<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ang.acb.dogbreeds">

    <application>
        <activity
            android:name="com.ang.acb.dogbreeds.HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>
